

.contact-us-page .top-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin-bottom: -100px;
}

.contact-us-page .top-text .text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black ;
  font-size: 2rem;
  padding: 1rem;
  max-width: 65%;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  width: 100%;
}

.contact {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: white;
  border: 1px solid #d1cfcf;
  width: 100%;
}

body:before {
  z-index: -1;
  position: absolute;
  height: 50vh;
  content: "";
  top: 0;
  left: 0;
  right: 0;
}

.contact-container {
  background: rgba(0, 0, 0, .8);
  color: white;
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  padding: 35px;
}

.contact-item {
  padding-bottom: 20px;

}

p {
  padding-top: 15px;
  font-size: 15px;
  line-height: 1.6;
  color: #bebaba;

}

span {
  padding: 10px;
  font-size: 20px;
}
.contact-us-page .text {
  font-size: 1.6rem !important;
}