.body-content {
    background-color: #121212;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5rem;
    align-items: center;
}

.body-content p{
    display: flex !important;
    justify-content: center !important;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}

.map-and-address iframe {
    width: 90%;
    height: 450px;
    border: 2px solid #d6d6d6; 
    border-radius: 8px; 
    margin-top: 2rem;
}
.body-content span {
    padding: 10px;
    font-size: 1.5rem;
    color: rgb(243, 148, 4);
}
