.update-car-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #007bff; /* Primary blue, adjust if needed */
}

.update-car-content {
    width: 70%; /* Adjust width to fit content */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* subtle shadow for depth */
}

.form-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 20px; /* space below the header */
    color: #333; /* dark grey for text */
    font-size: 2rem;
    font-weight: bold;
}

.update-feature {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 20px; /* space below the header */
    margin-top: 20px;
    color: #333; /* dark grey for text */
    font-size: 2rem;
    font-weight: bold;
}

.update-car-content table {
    width: 100%;
}

.update-car-content table td {
    padding: 8px;
    border: 1px solid #ccc; /* light grey border for cells */
    text-align: left;
}

.update-car-content table label {
    font-weight: bold;
}

.table-responsive {
    overflow-x: auto;
}

.table {
    width: 100%;
    margin-top: 20px; /* space above the table */
    border-collapse: collapse;
}

.table td:first-child {
    width: 20%; /* adjust width of the first column */
}

.update-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-secondary {
    background-color: #244d71;
    color: white;
}

.btn:hover {
    opacity: 0.85; /* subtle hover effect */
}

.addCar, .features {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
}

