
.carSection {
    background-color: #f1f1f1;
}

.carHeader {
    position: relative;
    width: 100%; 
    padding-top: 50%;
}

.carHeaderImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carTabs {
    display: flex;
    margin-bottom: 1rem;
    background-color: #404040;
    padding: 3rem;
    padding-left: 15rem;
}

.tabItem {
    padding: 0.5rem 1rem;
    margin: 0 0.05rem -3rem;
    border: none;
    background-color: #8D8C8C;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: lightgray; 
}

.tabItem.active {
    border-bottom: 2px solid #FF8E09;
    background-color: white;
    font-weight: bold;
    color: #FF8E09;
}
.tabItem:hover {
    color: #FF8E09; 
}


.carGrid {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 400px)); 
    justify-content: center; 
    gap: 1rem; 
    padding: 1rem;
}

.carGrid .carDetails {
    padding: 0 25px 0 25px;
    text-align: center;
    margin-bottom: 2rem;
}

.carCard {
    border: 1px solid #ccc;
    padding: 0 0 0.5rem 0;
    background-color: #564C4C;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This ensures that the button stays at the bottom */
    width: 100%;
    border-radius: 5px;
    text-align: center;
}

.carImage {
    width: 100%;
    height: 250px !important;
    object-fit: cover;
}

.carCard h4 {
    margin: 1.5rem 0;
}

.carCard p {
    margin-bottom: 1rem;
}

.carCard .carImage {
    width: 100%;
    height: auto; 
    object-fit: cover;
}

.carCardContent {
    flex: 1; /* Takes up all available space, pushing the button down */
    display: flex;
    flex-direction: column;
}

.carDetails {
    /* Ensure text takes up the space it needs */
    margin-bottom: auto; /* Pushes anything after it (like the button) to the bottom */
}

.carPrice {
    color: white;
    font-size: 1.2rem;
}

.carGrid button {
    padding: 4px 40px;
    background-color: rgba(63, 53, 48, 0.832);
    color: rgba(255, 255, 255, 0.506);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: bold;
    border: 1.5px solid #837c64;
    border-radius: 30px; 
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    display: block; /* Ensures it's on its own line */
    width: auto; /* Adjust width as necessary */
    align-self: center; /* Centers button in the flex container if desired */
    margin-top: auto;
    margin-bottom: 1rem;
    }

.carGrid button:hover, button:focus {
    background-color: #053971; 
    border-color: #004080;
    color: #ffffff;
    transform: translateY(-2px); /* Slight lift effect on hover */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.carGrid button:active {
    background-color: #004080; /* Even darker on click */
    transform: translateY(0); /* Reset the position on click */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Less shadow on click */
}


/* Additional responsive styling if necessary */
@media (max-width: 768px) {
    .carGrid {
    grid-template-columns: repeat(2, 1fr);
    }
}
