form {
  padding: 15px;
}

.form-control {
  min-height: 55px;
  border: 1px solid #d1cfcf !important;
  margin-top: 15px;
  padding: 0rem 1rem;
  font-size: 17 px !important;
  color: #616161 !important;
}

.form-label {
  padding: 0px 15px;
  margin-top: 15px;
  margin-bottom: 0;
}

.button-content {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  padding-top: 23px;
}