.footer {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: #404040;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.footerContent, .map-and-address {
  text-align: left;
  flex: 0 0 50%; /* Allows each side to take up to 50% of the row */
}

.footerContent {
  max-width: 40% !important;
}

.footerContent .company,
.footerContent .contactUs {
  font-size: 1.5rem;
  color: peru;
  font-weight: bold;
}

.footerContent .companyContent,
.footerContent .phone,
.footerContent .email,
.footerContent .workHours {
  font-size: 1.2rem;
}

.map-and-address {
  max-width: 30% !important;
  text-align: right;
}

.map-and-address .address {
  text-align: center;
}

.map-and-address .address .addressWord {
  font-size: 1.2rem;
  color: peru;
  font-weight: bold;
}

.map-and-address .address .new-address {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.map-iframe {
  width: 100%;
  height: 320px;
  border: 0;
}

.icon-row {
  display: flex;
  justify-content: center;
  margin-top: 50px !important;
}

.icon {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.icon a {
  width: 60px;
  height: 60px;
  color: #fff;
  background-color: #191919d1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.5rem; /* Adjust this value to increase the size of the icons */
}
