.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the app takes at least the height of the viewport */
}

.content {
  flex: 1; /* Grow to fill available space */
}

.footer {
  background: #404040;
  color: white;
  padding: 2rem;
  width: 100%;
  text-align: center; /* Center the content horizontally */
}


.row {
  width: 100%;
}

.footerContent {
  text-align: left;
  margin-bottom: 1rem;
  max-width: 250px;

}

button img {
  width: 30px;
  height: 30px;
  margin: 2px;
  margin-bottom: 10px;
}


.icon a {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  color: #fff;
  background-color: #191919d1;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}


.logo-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;

}

.icon {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}


.input-with-button {
  position: relative;
  width: 60%;
}

.input-with-button button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);

}

.sendIcon {
  margin-top: 10px;
}

.form-label {
  margin-bottom: 1rem !important;
}

.signup {
  text-align: left;
}