.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  width: 100%;
}

.contact {
  background: white;
  border: 1px solid #d1cfcf;
  width: 100%;
}

body:before {
  z-index: -1;
  position: absolute;
  height: 50vh;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  background: #666;
}

.contact-container {
  background: rgba(0, 0, 0, .8);
  color: white;
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  padding: 35px;
}

.contact-item {
  padding-bottom: 20px;

}

p {
  padding-top: 15px;
  font-size: 15px;
  line-height: 1.6;
  color: #999;

}

span {
  padding: 10px;
  font-size: 20px;
}